<mat-toolbar color="primary" class="app-header">
  <span class="brand">Jira Clone</span>
  <span class="spacer"></span>

  @if (userFacade.user$ | async; as user) {
    <div class="user-info">
      <app-avatar [user]="user" [size]="32" />
      <span class="user-name">{{ user.displayName || user.email }}</span>
    </div>

    <button
      mat-icon-button
      class="user-menu-trigger"
      [matMenuTriggerFor]="userMenu"
      #trigger="matMenuTrigger"
      aria-label="User menu"
    >
      <mat-icon>arrow_drop_down</mat-icon>
    </button>

    <mat-menu #userMenu="matMenu">
      <button mat-menu-item (click)="onSettingsClick(trigger)">
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </button>
      <button mat-menu-item (click)="onLogout()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  }
</mat-toolbar>
